sudo: required

language: scala

jdk:
- oraclejdk8

addons:
  apt:
    packages:
    - net-tools

cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

services:
  - docker

scala:
  - 2.11.8

env:
  - DOCKER_DIR="../docker/"

script:
  - sbt ci

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  - export TOP_LEVEL_JAR_DIR=mozilla
  - ./deploy_setup.sh
  - ls -alh
  - find $TOP_LEVEL_JAR_DIR -type f
  - find $TOP_LEVEL_JAR_DIR -type f | tr "\n" ":"

deploy:
  - provider: script
    script: deploy.sh
    skip_cleanup: true
    on:
      branch: deploy_story
